.timemanbody {
    background-color: #eff2f5;
    text-align: center;
    padding-bottom: 160px;

}

table {
    margin: 0 auto;
}

#names {
    background-color: #2e6da4;
    font-weight: bold;
    font-size: 18px;
    padding-left: 12px;
    position: absolute;
    z-index: 9999;
    color: white;
    display: none;
    width: 300px;
    height: 120px;
    overflow: auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#nameslot {
    margin-right: 60px;
}

@media (min-width: 768px) {
    .whatever {
        background-color: lightgrey;
        display: inline-block;
        padding: 30px 30px 30px 30px;
        text-align: center;
        color: transparent;
        font-size: 24px;

    }

    #names {
        background-color: #2e6da4;
        font-weight: bold;
        font-size: 18px;
        padding-left: 12px;
        position: absolute;
        z-index: 9999;
        color: white;
        display: none;
        width: 300px;
        height: 120px;
        overflow: auto;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    #nameslot {
        margin-right: 60px;
    }
}

@media (max-width: 767px) {
    .whatever {
        background-color: lightgrey;
        display: inline-block;
        padding: 50px 50px 50px 50px;
        text-align: center;
        color: transparent;
        font-size: 50px;
    }

    #names {
        background-color: #2e6da4;
        font-weight: bold;
        font-size: 30px;
        padding-left: 12px;
        position: absolute;
        z-index: 9999;
        color: white;
        display: none;
        width: 350px;
        height: 200px;
        overflow: auto;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    #nameslot {
        margin-right: 60px;
    }
}

table td, th {
    min-height: 40px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

td span {
    width: auto;
    display: block;
    font-size: 30px;
}

th, td {
    min-width: 66px;
}

input[type=checkbox] {
    display: none;
}

#timetable th {
    padding: 5px;
    background-color: darkgray;
}

.free {
    background-color: lightyellow;
    display: inline-block;
    padding: 30px 30px 30px 30px;
    text-align: center;
    color: transparent;
}

input[type=checkbox]:checked + .free {
    background-color: lightgreen;
    color: white;
}

input[type=checkbox]:checked + .whatever {
    background-color: lightcoral;
    color: white;
}

#closeButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightskyblue;
    font-weight: bold;
}

.navbutton {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#links a {
    font-weight: bold;
    font-size: 18px;
    color: #337ab7;
    text-decoration: none;
}

.navbutton:hover, a:hover {
    color: dodgerblue;
}

#title {
    font-size: 140%;
    font-weight: bold;
    max-height: 115px;
    padding-left: 25px;
}

#navigation {
    margin-bottom: 0;
}

.navbar {
    min-height: 40px;
}

#navspc {
    height: 40px;
}

ul.navbar-nav > li > a {
    line-height: 30px;
}

#admin {
    position: relative;
    display: inline-block;
}

#adminnav {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

#admin:hover #adminnav {
    display: block;
}
#inserted{
    list-style: none;
}
